.btnSelect {
    
}

.dropDownListBtn {
    padding: 2rem;
    height: max-content;
    width: max-content;
    background-color: burlywood;
}

.btnGrocery-span {
    /* border: 1px solid green; */
    width: max-content;
    height: max-content;
    margin: 1rem;
}

.btnGrocery-label {
    padding: 0 .5rem;
}

.btnGrocery {

}

.radioCondiments {
    
}

.RadioToasted {
    display: block;
    text-align: center;
    margin: 2rem;
}